*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* .Father
{
    background-color:cyan;
    margin: 0  auto;
    height: 100vh;
    width: 80vw;
    font-size: 100px;
}
.section
{
    background-color: blueviolet
} */
/* p
{
    color: brown;
    background-color: blue;
} */